<template>
  <div class="navbar">
    <div @click="$router.push('/')">Vue 3</div>
    <div class="navbar__btns">
      <MyButton @click="$router.push('/posts')">Посты</MyButton>
      <MyButton style="margin-left: 20px" @click="$router.push('/about')"
        >О сайте</MyButton
      >
      <MyButton style="margin-left: 20px" @click="$router.push('/store')"
        >store</MyButton
      >
      <!-- <MyButton style="margin-left: 20px" @click="$router.push('/composition')">
        composition
      </MyButton> -->
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.navbar {
  height: 50px;
  background-color: rgb(193, 149, 119);
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar__btns {
  margin-left: auto;
}
</style>
