<template>
  <from>
    <h4>Создание поста</h4>
    <MyInput v-focus v-model="post.title" type="text" placeholder="Название" />
    <MyInput v-model="post.body" type="text" placeholder="Описание" />
    <MyButton
      class="btn"
      style="align-self: flex-end; margin-top: 15px"
      @click="createPost"
      >Создать</MyButton
    >
  </from>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: '',
        body: '',
      },
    }
  },
  methods: {
    createPost() {
      this.post.id = Date.now()
      this.$emit('create', this.post)
      this.post = {
        title: '',
        body: '',
      }
    },
  },
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
}

from {
  display: flex;
  flex-direction: column;
}
</style>
